.data-form {
display: flex;
justify-content: center;

}


.title{
  display: flex;
  justify-content: center;
}

.top-nav-bar {
display: flex;
margin: 20px;
justify-content: center;
flex-wrap: nowrap;
}

 a:hover {
  background-color: #ddd;
  color: black;
}

a.active {
  background-color: #04AA6D;
  color: white;
}
a {
display: flex;
padding-inline: 100px;
align-content: space-evenly;
}

